h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #39c; 
}

.formulario p{
    margin: 1em 0;
    color: #39c; 
}
fieldset {
    width: 80%;
    padding: 0 20px 20px 20px;
    border: 2px solid lightblue;
    border-radius: 10px;}
label {
    color: #336; 
    font-weight: 700;
    margin: 0.9em 0 0.1em 0;
}

input, textarea{
    font-family: inherit;
    color: #336; 
    line-height: 1.15;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

#formulario_estado, #formulario_cidade {
    border-radius: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
}

.selecao{
    display: flex;
    flex-direction: row;
}

.item{
    margin: 0 0.5em;
}

.enviar{
    width: fit-content;
    padding-bottom: 2.5px;
    padding-top: 20px;
    font-weight: 600;
    margin-top: 1em;
}
